[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/ReSukiSU/ReSukiSU
	branch = staging/xxksu
[submodule "nomount"]
	path = nomount
	url = https://github.com/maxsteeel/nomount.git
[submodule "Baseband-guard"]
	path = Baseband-guard
	url = https://github.com/vc-teahouse/Baseband-guard
